<a ng-href="/admin" ng-class="{'is-active':selectedTab === 'admin'}" ng-click="selectedTab = 'admin'" class="mdl-layout__tab">Overview</a>
<a ng-href="/admin/users" ng-class="{'is-active':selectedTab === 'users'}" ng-click="selectedTab = 'users'" class="mdl-layout__tab">Users</a>
<a ng-href="/admin/applications" ng-class="{'is-active':selectedTab === 'applications'}" ng-click="selectedTab = 'applications'" class="mdl-layout__tab">Applications</a>
<a ng-href="/admin/events" ng-class="{'is-active':selectedTab === 'events'}" ng-click="selectedTab = 'events'" class="mdl-layout__tab">Events</a>
<a ng-href="/admin/settings" ng-class="{'is-active':selectedTab === 'settings'}" ng-click="selectedTab = 'settings'" class="mdl-layout__tab">Settings</a>